<%- include('../partials/head') -%>

  <div class="l-main">
    <div class="account_top_information">
      <div class="account_overlay"></div>
      <% if(currentUser) {%>
        <div class="container-fluid">
          <div class="card mb-5 w-90 rounded dash">
            <div class="row no-gutters">
              <div class="col-md-4 ">
                <img src="images/user.png " alt="card-img" class="card-img img-fluid" />
              </div>
              <div class="col-md-8 ">
                <div class="card-body">
                  <h4 class="card-title mt-5 text-white">Username: <%= currentUser.username %>
                  </h4>
                  <hr />
                  <p class="card-text "><b>First Name: <%= currentUser.firstName %> </b></p>
                  <hr />
                  <br />
                  <p class="card-text "><b>Referral Name:  <%=currentUser. referralName %> </b></p>
                  <hr />
                  <br />
                  <p class="card-text "><b>Email: <%= currentUser. email %> </b></p>
                  <hr />
                  <br />
                  <div class="card-footer mr-5 mb-4 mt-2">
                    <a href="/addPayment" class="btn btn-success">Upload Proof of payment</a>
                    <a href="/paymentdashboard" class="btn btn-warning text-white"
                      style="height: 38px; margin-left: 60px; margin-top: 0px;">See Payment Details
                    </a>
                    </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <% } %>

    </div>
  </div>

  <!--  footer  wrapper start -->
  <div class="copy_footer_wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="crm_left_footer_cont">
            <p>2021 Copyright © <a href="#"> Uniquelaurelglobal </a> . All Rights Reserved.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
  <!--  footer  wrapper end -->
  <!-- main box wrapper End-->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/modernizr.js"></script>
  <script src="js/dropify.min.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src="js/jquery.countTo.js"></script>
  <script src="js/plugin.js"></script>
  <script src="js/jquery.inview.min.js"></script>
  <script src="js/jquery.magnific-popup.js"></script>
  <script src="js/jquery.nice-select.min.js"></script>
  <script src="js/datatables.js"></script>
  <script src="js/jquery.menu-aim.js"></script>
  <script src="js/custom.js"></script>
  <!--main js file end-->
  </body>

  </html>