<%- include('../partials/admin') -%>

  <div class="l-main">
    <div class="account_top_information">
      <div class="account_overlay"></div>
      <% if(currentUser) {%>
        <div class="container-fluid">
          <div class="car mb-5 das">
            <div class="row no-gutters">
              <div class="col-md-2 ">
                <div class="useriimg">
                  <img src="../../images/user.png" alt="users">
                </div>
                <!-- <img src="images/user.png " alt="card-img" class="card-img img-fluid" /> -->
              </div>
              <div class="col-md-5 ">
                <div class="car-body">
                  <p class="card-title mt-5 text-white">Username: <%= currentUser.username %>
                  </p>
                  <hr />
                  <p class="car-text "><b>Last Name: <%= currentUser.lastName %> </b></p>
                  <hr />
                  <p class="car-text "><b>Email: <%=currentUser. email %> </b></p>
                  <hr />
                  <p class="car-text "><b>Investment Plan: <%= currentUser. plan %> </b></p>
                  <hr />
                  
                
                </div>
              </div>

              <div class="col-md-5 ">
                <div class="car-body">
                  <p class="car-title mt-5 text-white">First Name: <%= currentUser.firstName %>
                  </p>
                  <hr />
                  <p class="car-text "><b>Phone Number: <%= currentUser.phone %> </b></p>
                  <hr />

                  <p class="car-text "><b>Referral Name: <%=currentUser. referralName %> </b></p>
                  <hr />

                  <p class="car-text "><b>Investment Balance: <%= currentUser. amount %> </b></p>
                  <hr />

                  

                </div>
              </div>
              
            </div>
            <div class="card-footer mb-5 ">
              <div class="row">
                <div class="col-md-5 mt-5 mb-3">
                  <a href="#" class="btn btn-secondary text-white" style="height: 38px; ">Withdraw
                  </a>
                </div>
                <div class="col-md-6 mt-5 mb-3 px-4">
                 <table class="countdowncontainer">
                   <tr>
                     <td colspan="4" class="time">Time left</td>
                   </tr>
                   <tr class="timer">
                     <td id="days">10</td>
                     <td id="hours">4</td>
                     <td id="minutes">12</td>
                     <td id="seconds">20</td>
                   </tr>
                   <tr class="days">
                     <td>Days</td>
                     <td>Hours</td>
                     <td>Minutes</td>
                     <td>Seconds</td>
                   </tr>
                 </table>
                </div>
               
                
              </div>
            </div>
          </div>
        </div>
        <% } %>

          <% if(currentUser) {%>
            <div class="container-fluid">
              <div class=" mb-5 ">
                <h1 class="text-center mt-4 mb-4 text-white"> Referral Account</h1>
                <div class="row">
                  
                  <div class="col-md-4 ">
                    <div class="">
                      <p class=" mt-3 text-white">Username: <%= currentUser.username %>
                      </p>
                      <hr />
                      <p class=" "><b>Last Name: <%= currentUser.lastName %> </b></p>
                      <hr />

                      <div class=" mt-5 mb-3">
                        <a href="/referralaccount" class="btn btn-warning text-white" style="height: 38px; ">Referral Details
                        </a>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-4 ">
                    <div class="car-body">
                      <p class="car-text "><b>Investment Plan: <%= currentUser.plan %> </b></p>
                      <hr />
                      <p class="car-text "><b>Investment Amount: <%= currentUser.amount %> </b></p>
                      <hr />
                      <div class=" mt-5 mb-3">
                        <a href="/payments" class="btn btn-info text-white"
                        style="height: 38px; ">See Account Details
                      </a> 
                    </div>
                    </div>
                  </div>
                  <div class="col-md-4 ">
                    <div class="car-body">
                      <p class="car-text "><b>Referral Name: <%= currentUser.referralName %> </b></p>
                      <hr />
                      <p class="car-text "><b>Referral Bonus: <%= currentUser.bonus %> </b></p>
                      <hr />
                      <div class=" mt-5 mb-3">
                        <a href="/addPayment" class="btn btn-success">Upload Proof of payment</a>
      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <% } %>



    </div>
  </div>

  <!--  footer  wrapper start -->
  <div class="copy_footer_wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="crm_left_footer_cont">
            <p>2021 Copyright © <a href="#"> Uniquelaurelglobal </a> . All Rights Reserved.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
  <!--  footer  wrapper end -->
  <!-- main box wrapper End-->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/modernizr.js"></script>
  <script src="js/dropify.min.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src="js/jquery.countTo.js"></script>
  <script src="js/plugin.js"></script>
  <script src="js/jquery.inview.min.js"></script>
  <script src="js/jquery.magnific-popup.js"></script>
  <script src="js/jquery.nice-select.min.js"></script>
  <script src="js/datatables.js"></script>
  <script src="js/jquery.menu-aim.js"></script>
  <script src="js/custom.js"></script>
  
  <!--main js file end-->
  </body>

  </html>