<%- include('../partials/header') -%>

  <!-- inner header wrapper start -->
  <div class="page_title_section">

    <div class="page_header">
      <div class="container">
        <div class="row">

          <div class="col-lg-9 col-md-9 col-12 col-sm-8">

            <h1>register</h1>
          </div>
          <div class="col-lg-3 col-md-3 col-12 col-sm-4">
            <div class="sub_title_section">
              <ul class="sub_title">
                <li> <a href="#"> Home </a>&nbsp; / &nbsp; </li>
                <li>register</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="login_wrapper fixed_portion float_left">
    <div class="container  ">

      <div class="row ">
        <div class="col-sm-12">
          <h2 class="mb-4 text-center text-white"> Signup</h2>
        </div>
        <div class="col-sm-12">
          <%- include('../partials/message')-%>
            <form action="/register" method="POST">
              <div class="form-row">
                <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                  <input required type="text" name="referralName" class="form-control "
                    placeholder="Enter Referral Name" value="<%= typeof name != 'undefined' ? referralName : '' %>">
                </div>

                <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                  <input required type="text" name="firstName" class="form-control " placeholder="Enter First Name" value="<%= typeof name != 'undefined' ? firstName : '' %>">
                </div>
              </div>

              <div class="form-row">
                <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                  <input required type="text" name="lastName" class="form-control " placeholder="Enter Last Name" value="<%= typeof name != 'undefined' ? lastName : '' %>">
                </div>

                <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                  <input required type="text" name="username" class="form-control " placeholder="Enter Username" value="<%= typeof name != 'undefined' ? username : '' %>">
                </div>
              </div>

              <div class="form-row">
                <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                  <input required type="email" name="email" class="form-control input mt-2" placeholder="Enter Email" value="<%= typeof email != 'undefined' ? email : '' %>">
                </div>

                <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                  <input required type="password" name="password" class="form-control p-3 mt-2"
                    placeholder="Enter Password" value="<%= typeof name != 'undefined' ? password : '' %>">
                </div>
              </div>
              <label for="plan">Choose Investment Plan</label> 
              <select name="plan" class="select ">
                <option>Silver</option>
                <option>Copper</option>
                <option>Bronze</option>
                <option >Gold</option>
                </select>
              <!-- <div class="fields col-sm-12 "> -->
             
              <!-- </div> -->
              <button class="about_btn login_btn register_btn float_left mt-3 pb-2
          " type="submit">
                <a href="/login"></a> Register</button>
            </form>
        </div>

      </div>
    </div>
  </div>
  </div>
  </div>

  <%- include('../partials/footer') -%>