<%- include('../partials/admin') -%>

  <div class="l-main">
    <div class="account_top_information">
      <div class="account_overlay"></div>




      <!-- transaction wrapper start -->
      <div class="transaction_wrapper float_left">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="sv_heading_wraper half_section_headign half_sec_heading">
                <h4>Here are our</h4>
                <h3> Payments</h3>

              </div>
              <div class="x_offer_tabs_wrapper">
                <ul class="nav nav-tabs">
                  <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="/addPayment"> deposits</a>
                  </li>
                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#menu2">withdraw</a>
                  </li>

                </ul>
              </div>
            </div>


            <% if(currentUser) {%>
              <div class="container-fluid">
                <div class="card mb-5 dash">
                  <div class="row no-gutters">
                    <div class="col-md-4 ">
                      <img src="images/user.png " alt="card-img" class="card-img img-fluid" />
                    </div>
                    <div class="col-md-4 ">
                      <div class="card-body">
                        <p class="card-title mt-5 text-white">Username: <%= currentUser.username %>
                        </p>
                        <hr />
                        <p class="card-text "><b>Last Name: <%= currentUser.lastName %> </b></p>
                        <hr />
                        <p class="card-text "><b>Email: <%=currentUser. email %> </b></p>
                        <hr />
                        <p class="card-text "><b>Investment Plan: <%= currentUser. plan %> </b></p>
                        <hr />

                        <div class="card-footer mr-5 mb-4 ">
                          <a href="/addPayment" class="btn btn-success">Upload Proof of payment</a>

                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 ">
                      <div class="card-body">
                        <p class="card-title mt-5 text-white">First Name: <%= currentUser.firstName %>
                        </p>
                        <hr />
                        <p class="card-text "><b>Phone Number: <%= currentUser.phone %> </b></p>
                        <hr />

                        <p class="card-text "><b>Referral Name: <%=currentUser. referralName %> </b></p>
                        <hr />

                        <div class="card-footer mb-4 ">
                          <a href="/referral" class="btn btn-warning text-white" style="height: 38px; ">Referral Details
                          </a>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <% } %>




                <% payments.forEach((payment)=>{ %>
                  <div class="container-fluid">
                    <div class="card mb-5 w-90 rounded dash">
                      <div class="row no-gutters">
                        <div class="col-md-4 ">
                          <img src="<%= payment.imgUrl %>" alt="card-img" class="card-img img-fluid" />
                        </div>
                        <div class="col-md-4 ">
                          <div class="card-body">
                            <h4 class="card-title mt-3 text-white">Username: <%= payment.user %>
                            </h4>
                            <hr />

                            <p class="card-text "><b>Description: <%= payment.description %> </b></p>
                            <hr />

                            <p class="card-text "><b>Investment Plan: <%= payment.plan %> </b></p>
                            <hr />

                            <p class="card-text "><b>Investment Amount: <%= payment.amount %> </b></p>
                            <hr />

                          </div>
                        </div>
                        <div class="col-md-4 ">
                          <div class="card-body">
                            <p class="card-text "><a class="btn btn-warning"
                                href="/editPayment/<%= payment.id %>">Edit</a></p>
                            <hr />
                            <p>
                            <form style="display: inline;" action="/deletePayment/<%= payment.id %>" method="POST">
                              <input type="hidden" name="_method" value="DELETE">
                              <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                            </form>
                            </p>
                            <hr />
                            <p class="card-text "><b>Date: <%= payment.createdAt.toLocaleDateString() %></b></p>
                            <hr />


                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <% }) %>




                    <!--  footer  wrapper start -->
                    <div class="copy_footer_wrapper">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="crm_left_footer_cont">
                              <p>2021 Copyright © <a href="#"> Uniquelaurelglobal </a> . All Rights Reserved.</p>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
          </div>
          <!--  footer  wrapper end -->
          <!-- main box wrapper End-->
          <script src="js/jquery-3.3.1.min.js"></script>
          <script src="js/bootstrap.min.js"></script>
          <script src="js/modernizr.js"></script>
          <script src="js/dropify.min.js"></script>
          <script src="js/owl.carousel.js"></script>
          <script src="js/jquery.countTo.js"></script>
          <script src="js/plugin.js"></script>
          <script src="js/jquery.inview.min.js"></script>
          <script src="js/jquery.magnific-popup.js"></script>
          <script src="js/jquery.nice-select.min.js"></script>
          <script src="js/venobox.min.js"></script>
          <script src="js/datatables.js"></script>
          <script src="js/jquery.menu-aim.js"></script>
          <script src="js/custom.js"></script>
          <!--main js file end-->
          </body>

          </html>