<%- include('../partials/header') -%>

  <!-- inner header wrapper start -->
  <div class="page_title_section">

    <div class="page_header">
      <div class="container">
        <div class="row">

          <div class="col-lg-9 col-md-9 col-12 col-sm-8">

            <h1>register</h1>
          </div>
          <div class="col-lg-3 col-md-3 col-12 col-sm-4">
            <div class="sub_title_section">
              <ul class="sub_title">
                <li> <a href="#"> Home </a>&nbsp; / &nbsp; </li>
                <li>register</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="login_wrapper fixed_portion float_left">
    <div class="container  ">

      <div class="row ">
        <div class="col-sm-12">
          <h2 class="mb-4 text-center text-white"> Signup</h2>
        </div>
        <div class="col-sm-12">
          <%- include('../partials/message')-%>
            <form action="/users/<%= user.id %>" method="POST">
              <div class="form-row">
                <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                  <label for="plan"> Referral Name</label> 
                  <input required type="text" name="referralName" class="form-control "
                    placeholder="Enter Referral Name" value="<%= user.referralName %>">
                    
                </div>

                <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                  <label for="plan"> First Name</label> 
                  <input required type="text" name="firstName" class="form-control " placeholder="Enter First Name" value="<%= user.firstName %>">
                </div>
              </div>

              <div class="form-row">
                <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                  <label for="plan"> Last Name</label> 
                  <input required type="text" name="lastName" class="form-control " placeholder="Enter Last Name" value="<%= user.lastName %>">
                </div>

                <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                  <label for="plan"> Username</label> 
                  <input required type="text" name="username" class="form-control " placeholder="Enter Username" value="<%= user.username %>">
                </div>
              </div>

              <div class="form-row">
                <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                  <label for="plan"> Email</label> 
                  <input required type="email" name="email" class="form-control input mt-2" placeholder="Enter Email" value="<%= user.email %>">
                </div>

                <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                  <label for="amount"> Amount</label> 
                  <input  type="amount" name="amount" class="form-control p-3 mt-2"
                    placeholder="Enter amount" value="<%= user.amount %>">
                </div>
              </div>
              
              <div class="form-row">
                <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                  <label for="plan"> Choose Investment Plan</label> 
                  <input required type="text" name="plan" class="form-control " placeholder="Enter Plan" value="<%= user.plan %>">
              </div>
                <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                  <label for="phone"> Phone</label> 
                  <input required type="number" name="phone" class="form-control " placeholder="Enter Phone Number" value="<%= user.phone %>">
                </div>
              </div>
              <div class="col-sm-6 mt-3 form-group icon_form comments_form register_contact ">
                <label for="bonus"> Bonus</label> 
                <input  type="bonus" name="bonus" class="form-control p-3 mt-2"
                  placeholder="Enter bonus" value="<%= user.bonus %>">
              </div>
              <button class="about_btn login_btn register_btn float_left mt-3 pb-2
          " type="submit"> Update User</button>
            </form>
        </div>

      </div>
    </div>
  </div>
  </div>
  </div>

  <%- include('../partials/footer') -%>