
  <%- include('../partials/header') -%>

  <div class="page_title_section dashboard_title">

    <div class="page_header">
      <div class="container">
        <div class="row">

          <div class="col-xl-9 col-lg-7 col-md-7 col-12 col-sm-7">

            <h1>Edit Payment </h1>
          </div>
          <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-sm-5">
            <div class="sub_title_section">
              <ul class="sub_title">
                <li> <a href="#"> Home </a>&nbsp; / &nbsp; </li>
                <li>Edit Payment</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="login_wrapper fixed_portion float_left">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="login_top_box float_left">

            <h1 class="text-center text-white">Edit Proof of Payment</h1>
            <%- include('../partials/message') -%>

            <form action="/editPayment/<%= payment.id %>" method="POST" enctype="multipart/form-data">

              <div class="form-group">
                <label for="name">Accout Username</label>
                <input required name="user" id="user" class="form-control select" placeholder="Enter Account Username" value="<%= payment.user %>">
              </div>

              <div class="form-group">
                <label for="plan">Investment Plan</label>
                <input required name="plan" id="plan" class="form-control select" placeholder="Enter Investment Plan" value="<%= payment.plan %>">
              </div>
              <div class="form-group">
                <label for="plan">Investment Amount</label>
                <input required name="amount" id="amount" class="form-control select" placeholder="Enter Investment Amount" value="<%= payment.amount %>">
              </div>
             
              <div class="form-group">
                <label for="description">Description</label>
                <input required name="description" id="description" class="form-control select" placeholder="Enter Payment Purpose" value="<%= payment.description %>">
              </div>
              
              
              <div class="form-group">
                <label for="image">Upload Image</label>
                <input required type="file" id="image" name="image" class="select" >
              </div>
              <div>
                <a href="/paymentdashboard" class="btn btn-danger">Cancel</a>
                <button type="submit" class="btn btn-warning">Save</button>
              </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>

 